@charset "UTF-8";
@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: 'FuturaPT';
  color: #292929;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset; 
}


a:hover {
  color: inherit;
  text-decoration: none;
}

.upr {
  text-transform: uppercase;
}

.und {
  text-decoration: underline;
}

.container {
    max-width: 1170px;
}

.btn {
    font-weight: 700;
    font-family: 'FuturaPT';
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    background: linear-gradient(225deg, #76FA38 0%, #2F9E31 100%);
    height: 50px;
    padding: 15px;
    width: 200px;
    display: block;
}

.btn:hover {
  color: #292929;
}

.header-top__wpr {
  background-color: #fff;
  height: 80px; 
}

.header-menu__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 0 -20px;
}

.header-menu__link {
  color: #292929;
  padding: 26px 20px 27px;
  display: block;
  letter-spacing: 0.227554px;
}

.header-menu_level2 {
  list-style: none;
  display: none;
}

.header-menu__link:hover .header-menu_level2{
  display: block;
}

.header-block__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.header-menu__link:hover {
  background-color: #F6F6F6;
}

.header-email {
  letter-spacing: 0.227554px;
  position: relative;
  padding-left: 20px;
  color: #292929;
}

.header-email:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 12px;
  height: 10px;
  background-image: url('../img/email.svg');
}

.header-tel {
  letter-spacing: 0.227554px;
  position: relative;
  padding-left: 20px;
  color: #292929;
}

.header-tel:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 12px;
  height: 12px;
  background-image: url('../img/tel.svg');
}

.header-btn {
  height: 50px;
  width: 170px;
  background: linear-gradient(225deg, #76FA38 0%, #2F9E31 100%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-btn span {
  color: #fff;
  text-align: center;
  padding: 0 20px;
}

.header-tel:hover, .header-email:hover {
  text-decoration: underline;
}

.banner {
  background: url('../img/bd-1.png') #F2F2F2;
  width: 100%;
  max-height: 745px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 130px;
}

.banner-block {
  padding: 60px 0 110px;
}

.banner-logo {
  margin-bottom: 60px;
}

.section-ttl {
  font-family: 'a-futuraround';
  font-weight: bold;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
}

.banner-ttl {
  max-width: 582px;
  margin: 0 0 22px 0;
}

.banner-text {
  font-size: 25px;
  line-height: 27px;
  max-width: 350px;
  margin: 0 0 35px 0;
}

.banner-img {
  position: absolute;
  top: 21px;
  right: 0;
}

.banner-img img {
  width: 92%;
}

.servises__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.servises__item {
  width: 292px;
  height: 292px;
  background-color: #F6F6F6;
  text-align: center;
  padding: 65px 26px 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.servises__item:nth-child(1) {
  background-image: url('../img/serv-bg.png');
  color: #fff;
}

.servises__item:nth-child(3) {
  background-image: url('../img/serv-bg.png');
  color: #fff;
}

.servises__item:nth-child(6) {
  background-image: url('../img/serv-bg.png');
  color: #fff;
}

.servises {
  margin-bottom: 100px;
}

.servises__item-inn {
  border: 1px dashed #292929;
  box-sizing: border-box;
  width: 251px;
  height: 251px;
  padding-top: 88px;
  color: #292929;
}

.servises__item:last-child {
  background-color: transparent;
  padding: 20px;
  font-weight: 600;
}

.our-help {
  background: url('../img/bg-2.png') #F2F2F2;
  background-repeat: no-repeat;
  height: 500px;
}