@font-face {
    font-family: 'Formular';
    src: url('Formular-Bold.woff2') format('woff2'),
        url('Formular-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: url('Formular-Medium.woff2') format('woff2'),
        url('Formular-Medium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: url('Formular.woff2') format('woff2'),
        url('Formular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: url('Formular-Light.woff2') format('woff2'),
        url('Formular-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Light.woff2') format('woff2'),
        url('Geometria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Regular.woff2') format('woff2'),
        url('Geometria-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Medium.woff2') format('woff2'),
        url('Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Bold.woff2') format('woff2'),
        url('Geometria-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ExtraBold.woff2') format('woff2'),
        url('Geometria-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}